body {
	height: 1000px;
	margin: 0px;
	font-family: Arial;
	/*background-color: rgba(200,200,200,.3)*/
}

#content {
	height: 100%;
	width: 960px;
	margin: 0px auto;
}

#header{
	width: 100%;
	height: 120px;
	margin-bottom:5px;
	background-color: rgb(155,188, 77);
}

#nav {
	width: 115px;
	height: 100%;
	float: left;
	margin-right: 5px;
}

#report_card_container{
	width: 820px;
	float: left;
}

#member_brand h1{
	margin: 0px;
	padding: 2px;
	height:60px;
	line-height: 190%;
	text-align: center;
	width:98%;
	margin:1%;
	background-color: rgba(200,200,200, .8);
	border-radius: 3px;
	/*border: 1px solid #CCC;*/
	box-shadow: 1px 1px 9px #DDD;
}

.module {
	margin:1%;
	width:100%;
	background-color: white;
	float: left;
	text-align: center;
	/*border: 1px solid rgba(200,200,200, .8);*/
	box-shadow: 0px 1px 9px rgba(200,200,200, .8);
	border-radius: 3px; 
}

#module_container p {
	text-align: left;
	font-size: 25px;
	margin: 20px 0px 0px 20px;
}

#module_container ul, #nav ul {
	list-style-type: none;
	-webkit-padding-start: 0px;
}

#nav li {
	margin:10px 5px;
	color: #3EA549;
	font-size: 18px;
}

#subnav li{
	font-size:12px;
}

#subnav li:hover {
	cursor: pointer;
}

#module_container #reports li {
	position: relative;
	/*height:240px;*/
	height:100px;
	width:96%;
	margin-left: 10px;
	padding: 10px 0px 10px 10px ;
	color: black;
	overflow:hidden;

}

#report_card_image {
	width: 165px;
	height: 68px;
	overflow: hidden;
	margin: 20px;
	float: left;

}

#reports{
	float: left;
	width: 450px;
}

.report-cover{
	width:15%;
	height:100px;
	float:left;
}

.cover-image{
	background-image: url('../v2/images/fashion-2012.jpeg');
	width: 100%;
	height: 85px;
	margin-top: 8px;
}

#module_container .rank p {
	font-size:76px;
	margin: 5px 20px;
	text-align: center;
}

#module_container .rank .sub-heading,  #module_container .report-details .sub-heading{
	font-size:12px;
	font-weight: normal;
	margin: 0px 20px;
}

.report-info{
	height: 100px;
	width: 90%;
	float: left;
	margin-left: 2%;
}

.report-info :hover {
	cursor: pointer;
}

.report-details {
	float: left;
	width: 272px;
}

.report-name {
	font-size: 25px;
	margin-bottom:2px;
	text-align: left;
}

.report-date {
	text-align: left;
	font-size: 20px;
	color: #3EA549;
}

.rank {
	display: inline-block;
	float: left;
	width: 30%;
}

.arrow{
	background-image: url('../images/smallarrow.png');
	width: 8%;
	height: 100px;
	float: left;
	display: none;
}

.detail-support{
	display: inline-block;
	/*border-right: 1px solid #DDD;*/
}

.details-shown{
	/*border: 1px solid #DDD;*/
	border-radius: 5px 0px 0px 5px;
}

.gray{
	background-color: #DDD;
}

#report_pane{
	float: left;
	width: 41%;
	height:481px;
	background-color: #DDD;
	margin-top: 15px;
	display:none;
}

#report_pane img { width:300px; overflow:hidden; }
#report_pane h2 { 
	font-size:25px; 
	margin: 20px 20px 0px 20px; 
	text-align:left; 
}
#report_pane ul { 
	-webkit-padding-start: 0px; 
	margin: 0px 10px 5px 0px;
	float: left;
}

#report_pane li { 
	position:relative;
	font-size: 14px;
	margin: 5px 0px 5px 20px;
	width:110px;
	text-align:left;
}

#report_pane #cover { 
	background-image: url('../images/fashion-2012.jpeg');
	height:100px;
	width:300px;
	overflow:hidden;
	min-width:300px;
	margin:20px auto 10px auto;
}

#module_container #report_card {

}

#module_container  #report_title {
	margin-top:0px;
}

#module_container #data_note{
	font-size:12px;
	margin-top: 0px;
	margin-bottom: 16px;
	font-size:12px;
}

#module_container #score_text{
	margin: 10px 20px 10px 20px;
	font-size:18px;

}

#top_10_wrapper{
	overflow-y: auto;
}

#chart_wrapper{
	height:520px;
}

#spider_chart p {
	text-align: left;
	font-size: 25px;
	margin: 20px;
}

#chart_container{
	float: left;
}

.label text {
	stroke: #fff;
}

#spider_controls {
	width:165px;
	height:100%;
	margin: 10px 15px 10px 20px;
	float: left;
	/*border-right: 1px solid #DDD;*/
}

#module_container #dd_latin{
	font-size: 11px;
	margin: 0px 15px 0px 0px;
}

#module_container #deep_dive_ul li{
	font-size:12px;
	text-align:left;
}

#module_container #deep_dive_ul li img{
	width:14px;
	margin-right:10px;
}

#module_container .control-subheading {
	font-size: 18px;
	margin: 0px 0px 10px 0px; 
}

#brand_toggle{
	position:relative;
}

#brand_list {
	margin:0px;
}

.brand-control, .category{
	list-style:none;
	margin-bottom:5px;
	font-size:15px;
	font-weight:300;
	font-family:arial;
	-webkit-transition:all .5s;
	height:25px;
	text-align: left;
	overflow: hidden:;
	/*border-bottom: 1px solid #DDD;*/
	line-height: 150%;
}

#category_list {
	margin-bottom: 40px;
}

#benchmark_brand_list_container {
	overflow-y: auto;
	height: 30px;
	margin: 0px 0px 30px 0px;
	-webkit-transition: all linear .5s;
}

#benchmark_brand_list_container p {
	font-size: 12px;
	margin:0px;
	line-height: 199%;
	color: gray;
}

#benchmark_brand_list_container:hover {
	cursor: pointer;
}


.benchmark_brand_list {
	background-color: #DDD;
	position: absolute;
	width:0px;
	height:480px;
	float:left;
	-webkit-transition: all linear .15s;
	top: 87px;
	left: 165px
}

.expanded {
	position:absolute;
	width: 750px;
	height: 480px;
	top: 87px;
	left: 165px
	-webkit-box-shadow: 1px 0px 12px;
	/*display: inline-block;*/
}

#b_brand_list {
	display: none;
}

#b_brand_list li{
	width: 120px;
	height: 30px;
	font-size: 12px;
	float: left;
	text-align: left;
	padding:3px 14px;
}

.brand-control:hover{
	cursor:pointer;
}

.brand-name{
	display:block;
	height:30px;
}

.brand-info{
	display:none;
	height:60px;
	padding-top:10px;
}

.brand-datum{
	float:left;
	font-size:13px;
	width:48%;
	margin:1%;
}

#categories{
	position: relative;
	top: 50px;
	margin-top: 30px;
	height: 200px;
	text-align: justify;
}

.diqc{
	overflow-y:auto;
	font-size: 11px;
	/*border: 1px solid #DDD;*/
	padding: 4px;
	text-align: justify;
	margin: 3px auto;
	display: inline-block;
	border-radius:2px;

}

.included{
	background-color: #EEE;
}

#german_chart table{
	border:1px solid gray;
	margin: 0px auto 20px auto;
	width:750px;
	font-family:helvetica;
	font-weight:300;
	text-align: center;
}

#german_chart table tr:nth-child(odd){
	background-color: rgba(200,200,200,.4);
}

#german_chart table td{
	padding:2px;
}

#german_chart th{
	padding: 2px;
	font-size:13px;
	font-weight:bold;
	/*background-color:rgba(200,200,200, .2);*/
}

/****** ENGAGEMENT CHART ******/
#engagement_chart_container {
	width: 803px;
	height:400px;
	margin: 10px;
}

#community_size_drop{
	width: 100px;
	float: left;
	margin-left: 10px;
}

#cat_heading, #com_size_heading {
	width:48%;
	margin:0px;
	float: left;
}

#com_size_heading {
	width: 30%;
	padding-left: 25px
}

circle {
	fill: #2F4984;
	fill-opacity: .4;
	stroke: #2F4984;
	stroke-opacity: 1;
	stroke-width: 2px;
}

#chart_svg rect {
	fill: #FFFFFF;
	stroke-width: 2;
	stroke: #2F4984;
	z-index: 100;
}

/************** timeseries **************/

#metric_control_container, #timeseries_chart_container, #benchmark_control_container, #benchmark_heading_wrapper {
	display: block;
	width:820px;
	/*border: 1px solid black;*/
}

#metric_control_container {
	border-bottom: 1px solid black;
}

.platform-toggle, .metric, .metric-image {
	float:left;
	font-size: 10px;
}

.metric, .metric-image {
	margin: 10px 2px;
	padding: 0px 3px;
	height:20px;
	line-height: 210%;
}

.metric-image {
	margin-top: 12px;
	height: 15px;
}

.facebook-metric {
	background-color:rgba(47,73,132,.9);
	color: white;
}

.twitter-metric {
	background-color:rgb(92, 174, 220);
	color: white;
}

.yt-metric {
	background-color: #D6005A;
	color: white;
}

#timeseries_chart_container {
	height:400px;
}

#search_and_favorite_benchmarks_container, #category_benchmarks_container {
	float:left;
	/*border: 1px dashed gray;*/
	width:49%;
	border-top: 1px solid black;
}

#search_and_favorite_benchmarks_container {
	margin: 1% 0% 1% .7%; 
}

#category_benchmarks_container {
	margin: 1% .7% 1% 0%; 	
}

#benchmark_heading_wrapper h2 {
	margin: 10px 0px 0px 10px;
	font-size: 14px;
	font-weight:normal;
	float: left;
}

#reset_button {
	margin:0px 10px;
	padding:8px;
	font-size:10px;
	float: right;
	background-color: #A2CE53;
	color: white;
}

#search_benchmarks, #favorite_benchmarks, #category_benchmark_controls, #category_benchmark_results {
	margin: 5px;
	/*border: 1px dotted gray;*/
}

#search_benchmarks_results {
	overflow-y: auto; 
}

#category_benchmark_controls {
	margin: 10px 5px 0px 0px;
	padding: 0px 0px 0px 10px;
	border-left: 1px solid black;

}

#category_benchmark_results {
	margin: 0px 5px 5px 0px;
	padding: 10px 0px 0px 10px;
	border-left: 1px solid black;

}

#search_benchmarks {
	border-bottom: 1px solid black;
}

#benchmark_control_container .benchmark-subheading{
	margin:0px;
	font-size: 14px;
}

#category_benchmark_drop, #benchmark_search_input {
	float: left;
	width: 200px;
}

#benchmark_search_input {
	height: 25px;
	margin-bottom: 10px;
	border: 1px solid black;
	padding-left: 5px;
}

#category_benchmark_results{
	min-height: 140px;
	overflow-y: auto;
}

#search_benchmarks {
	min-height: 100px;
}

#favorite_benchmarks_results {
	min-height: 50px
}

#search_benchmarks, #favorite_benchmarks {
	margin:10px;
}

#search_benchmarks ul {
	margin: 0px;
}

.favorite-title-icon {
	float: left;
	margin-right: 5px;
	width: 15px;
}

/****** brand styling ******/

#module_container .brand, #module_container .brand .brand-name, #module_container .brand .brand-check, #module_container .brand .favorite-icon{
	float: left;
}

.favorite-icon {
	width: 15px;
	margin-top:1px;
}

#module_container .brand .brand-check {
	margin-left:5px;
}

#module_container .brand {
	width: 190px;
	margin-bottom:5px;
}

#module_container .brand .brand-name {
	font-size:11px;
	text-decoration: underline;
	color: #3EA549;
	margin: 0px 3px;
	width:130px;
	overflow-y: hidden;
	line-height: 149%;
	height: 30px;
}

.favorites-title {
	height: 20px;
	margin-bottom: 5px;

}


/*******  TOP TEN *******/

.chart-wrapper {
	width: 31%;
	height: 500px;
	float: left;
	margin-left: .9%;
	padding:5px;

}

.top-ten-metric {
	float: left;
	padding:5px 10px;
	margin-left: 10px;

}

#toggle_wrapper{
	width: 35%;
}

#top_ten_header {
	margin: 1.8%;
}

#top_ten_header, #top_ten_title, #category_drop_wrpper, #toggle_wrapper {
	overflow-y: auto;
}

#top_ten_title, #category_drop_wrapper {
	float:left;
}

#toggle_wrapper{
	float: right;
}

#module_container #top_ten_title p {
	font-size: 14px;
	margin: 5px;
	float: left;
}

#top_ten_chart_container {
	overflow-y: auto;
	margin-bottom: 20px;
}

#module_container .chart-wrapper p {
	font-size: 14px;
	margin:5px 10px;
}

.chart-wrapper {

}





