#container{
	position:absolute;
	width: 97%;
	margin:1%;
	border: 1px solid gray;
}

h1, h2{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
	letter-spacing: -2px;
	padding:10px;
	margin:0px;
}

h1{
	font-size:60px;
	text-align: center;
}

h2 {
	font-size:30px;
	text-align:center;
}

#text_container{
	width:350px;
	height:100%;
	float:left;
}

#viz_container{
	min-height:800px;
	float:left;
	margin-bottom: 20px;
}

#viz, #controls{
	float:left;
}

input[type="checkbox"]{
	width:20px;
}

#controls{
	width: 350px;
	height:98%;
	margin:2% 0px;
	margin-right:50px;
	margin: 0px 50px auto 0px;
}

#brand_container{
	width:100%;
	height:86%;
	margin:10px;
	/*border-right: 1px solid gray;*/
}

.brand-control{
	list-style:none;
	/*margin-bottom:10px;*/
	padding-bottom:10px;
	font-size:25px;
	font-weight:300;
	font-family:helvetica;
	-webkit-transition:all .5s;
	height:30px;
}

.brand-control:hover{
	cursor:pointer;
}

.brand-name{
	display:block;
	height:30px;
}

.brand-info{
	display:none;
	height:60px;
	padding-top:10px;
}

.brand-datum{
	float:left;
	font-size:13px;
	width:48%;
	margin:1%;
}

#german_chart table{
	/*border:1px solid gray;*/
	width:750px;
	font-family:helvetica;
	font-weight:300;
	text-align: center;
}

#german_chart table tr:nth-child(odd){
	background-color: rgba(200,200,200,.4);
}

#german_chart table td{
	padding:2px;
}

#german_chart th{
	padding: 2px;
	font-size:13px;
	font-weight:bold;
	/*background-color:rgba(200,200,200, .2);*/
}

.circle-ticks{
	font-family:'helvetica';
}

.axis {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #000000;
    stroke-width: 2px;
}

.axis .ticks line {
    stroke: #4F4F4F;
    stroke-width: 2px;
}

.axis .ticks line.minor{
    stroke: #CCCCCC;
    stroke-width:1px;
}